.container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 300px;
  overflow: hidden;
  //width: 25%;
  //min-width: 15%;
  //max-width: 50%;
}

.header {
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
