.darkTheme {
  /* Color Palette ↓ */
  --palette-base: #000;
  --palette-base-opposite: #fff;

  /* Color Palette ↑ */

  /* ------------------------------------------------------------------------------------------ */


  /* Global Styles ↓ */
  --global-scroll-background-color: #345B63;
  --global-scroll-background-hover-color: #152D35;
  --global-scroll-background-active-color: #112031;
  /* Global ↑ */


  /* ------ UI COMPONENTS ↓ ------ */

  /* Button ↓ */
  /* Button Primary Appearance */
  --button-primary-color: var(--palette-text-tertiary);
  --button-primary-background: var(--palette-primary);

  --button-primary-hover-background: var(--palette-primary-hover);

  --button-primary-focus-background: var(--palette-primary-focus);

  --button-primary-active-background: var(--palette-primary-active);

  --button-primary-disabled-background: var(--palette-primary-disabled);
  --button-primary-disabled-color: var(--palette-text-tertiary-disabled);

  /* Button ↑ */

  /* TreeFileTabs ↓ */
  --tree-file-tree-item-non-clickable-name: grey;
  --tree-file-tree-item-name: red;
  --tree-file-tree-item-selected-name: orange;
  /* TreeFileTabs  Unique Styles */
  /* TreeFileTabs ↑ */

  /* ------ UI COMPONENTS ↑ ------ */
}
