body {
  min-width: 320px;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--palette-text-base);
  background-color: var(--pallete-background-lighter);
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  -webkit-user-drag: none;
}

svg * {
  pointer-events: none;
}

img,
img *,
svg,
svg * {
  user-select: none;
}

@import "./layout";
