html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 4px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: var(--palette-text-base);
  background-color: var(--palette-background-secondary);
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-user-drag: none;
  transition: background-color 150ms ease-in-out;
}

img,
img *,
svg,
svg * {
  user-select: none;
}

svg * {
  pointer-events: none;
}
