.container {
  position: relative;
  width: 200px;
  overflow: hidden;
  border-radius: var(--palette-border-radius-medium);
  background-color: var(--palette-background-primary);
  //width: 25%;
  //min-width: 15%;
  //max-width: 50%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  background-color: var(--palette-background-tertiary);
}

.header svg {
  width: 24px;
  height: 24px;
}

.dragZone {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  transform: translateX(50%);
}

.dragZone:hover {
  cursor: ew-resize;
  background-color: #415A77;
}
