.container {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.triggerWrapper {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  column-gap: 12px;
  border-radius: var(--palette-border-radius-small);
  background-color: var(--palette-background-tertiary);
}

.icon {
  transition: transform 150ms ease-in-out;

  &.opened {
    transform: rotateZ(90deg);
  }
}

.collapseWrapper {
  padding: 4px;
  border-radius: var(--palette-border-radius-small);
  background-color: var(--palette-background-tertiary);
}
