.grid {
  flex: 1;
  display: flex;
  flex-direction: column;
}

// Gaps ↓
.gap1 {
  gap: var(--pallete-gap-1);
}

.gap2 {
  gap: var(--pallete-gap-2);
}

.gap3 {
  gap: var(--pallete-gap-3);
}

.gap4 {
  gap: var(--pallete-gap-4);
}

.gap5 {
  gap: var(--pallete-gap-5);
}

.gapRow1 {
  row-gap: var(--pallete-gap-1);
}

.gapRow2 {
  row-gap: var(--pallete-gap-2);
}

.gapRow3 {
  row-gap: var(--pallete-gap-3);
}

.gapRow4 {
  row-gap: var(--pallete-gap-4);
}

.gapRow5 {
  row-gap: var(--pallete-gap-5);
}

.gapCol1 {
  column-gap: var(--pallete-gap-1);
}

.gapCol2 {
  column-gap: var(--pallete-gap-2);
}

.gapCol3 {
  column-gap: var(--pallete-gap-3);
}

.gapCol4 {
  column-gap: var(--pallete-gap-4);
}

.gapCol5 {
  column-gap: var(--pallete-gap-5);
}

// Gaps ↑

// Paddings ↓
.pad1 {
  padding: var(--pallete-padding-1);
}

.pad2 {
  padding: var(--pallete-padding-2);
}

.pad3 {
  padding: var(--pallete-padding-3);
}

.pad4 {
  padding: var(--pallete-padding-4);
}

.pad5 {
  padding: var(--pallete-padding-5);
}

// Paddings ↑

//.content {
//  position: relative;
//  display: flex;
//  flex-direction: column;
//  flex: 1;
//  overflow: hidden;
//  border-radius: var(--palette-border-radius-1);
//  background-color: var(--pallete-background-default);
//}